/**
 * CSS altsyle - FUN
 */

html {
	height: 100%;
	width: 750px;
	margin: 5px;
	padding-left: 250px;
	padding-right: 250px;
	padding-top: 40px;
	position: center;
}
	
body {
	padding-top: 5px;
	height: auto;
	font: normal 15px 'helvetica';
	color: #dfdce3;
	/*background-image: url("bg_newspaper.jpg");*/
	background-color: #4abdac;
	background-attachment: fixed;
}

aside {
	display: none;
}

article {
	background-image: url("gif_adolf.gif");
	color: black;
}
	
#logoImg {
	width: 750px;
	height: 500px;
	position: relative;
	background-size:750px auto; 
	background-position: center;
	animation-name: animatedHeader;
    animation-duration: 10s;
	animation-delay: -2s;
	animation-iteration-count: infinite;
	box-shadow: 5px 5px 5px black;
	border-radius: 10px;
}

#goodGov, #char, #importance{
	float: center;
	background-color: #f7b733;
	height: 50px;
	overflow: hidden;
	transition-timing-function: ease;
	transition-property: width;
	transition-duration: 3s;
	border-radius: 10px;
}

#goodGov:hover {
	height: auto;
}

#char:hover {
	height: auto;
}

#importance:hover {
	height: auto;
}

.content {
	padding: 10px;
}

#menu {
	position: sticky;
	position: fixed;
	background-color: black;
	list-style: none;
	display: block;
	top: 0;
	width: 710px;
	height: 30px;
	z-index:99;
	overflow: hidden;
	visibility: visible;
}

ul#menu li a {
	text-transform: uppercase;
	padding: 4px;
	display: block; 
	float: left; 
	height: 20px;
	text-decoration: none; 
	text-align: center;
	color: white;
} 

ul#menu li a:hover {
	color: green;

}

#goodGov {
	text-align: left;
	padding: 10px;
	border: 5px solid black;
	margin: 10px;
}
	
#importance {
	text-align: center;
	padding: 10px;
	border: 5px solid black;
	margin: 10px;
}

#char {
	text-align: right;
	padding: 10px;
	border: 5px solid black;
	margin: 10px;
}

#site_content {
	background-color: #fc4a1a;
	position: relative;
	width: 750px;
}

#forAll:hover {
	animation-name: pulse;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#lbk_act:hover {
	animation-name: buzz;
	animation-duration: 0.15s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#footer {
	position absolute;
	width: 740px;
	height: 75px;
	padding: 5px;
	text-align: center; 
	background: black;
	color: white;
	text-transform: uppercase;
	font-size: 75%;
	position: center;
	animation: swing 5s linear infinite alternate;
}

@keyframes pulse {
	25% {-webkit-transform: scale(1.1);
		transform: scale(1.1);}
	75% {-webkit-transform: scale(0.9);
		transform: scale(0.9);}
}

@keyframes buzz {
	50%	{-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);}
	100%{-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
  }
}

@-webkit-keyframes swing {
	0%	{-webkit-transform: translateX(30%);}
	50%	{-webkit-transform: translateX(0%);}
	100%{-webkit-transform: translateX(-30%);}
}

@keyframes animatedHeader {
    0%	{background-image: url("img01.jpg");}
    25%	{background-image: url("img02.jpg");}
    50%	{background-image: url("img03.jpg");}
    100%{background-image: url("img04.jpg");}
}

	
